*{
    margin: 0;
    box-sizing: border-box ;
}

header{
    background-image: url("img/pattern.png");
    height: 100px;
    background-color: rgb(8, 160, 206);
    background-size: 30%;
}

.logo{
   height: 50px;
   margin-top: 40px;
   margin-left: 40px;
}

section {
    margin-top: 10px;
    margin-left: 35px;
}

#title {
    font-size: 42px;
}

#grey {
    color: rgb(134, 134, 134);
}

#blue {
    color: rgb(0, 195, 255);
}

#date {
    font-size: 70%;
    color: rgb(182, 179, 179);
}

#didascalia {
    font-size: 12px;
}

.sottolineatura {
    background-color: rgb(238, 238, 2);
}

h3 {
    color: rgb(145, 145, 145);
    margin-left: 40px;
}

.foot-img {
    width: 312px;
    height: 208px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}

#monitor {
    background-image: url(img/monitor.jpg);
    margin-left: 40px;

}

#graph {
    background-image: url(img/graph.jpg);
    margin-top: 10px;
    margin-left: 40px;
}